name: Build
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Set up Go 1.19
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
        id: go

      - name: Libraries for gio
        run: |
          sudo apt update
          sudo apt install libwayland-dev libx11-dev libx11-xcb-dev libxkbcommon-x11-dev libgles2-mesa-dev libegl1-mesa-dev libffi-dev libxcursor-dev libvulkan-dev

      - name: Copy needed files
        run: |
          cp "./libwallet/instantswap/instant_example.json" "./libwallet/instantswap/instant.json"

      - name: Cache (dependencies)
        uses: actions/cache@v1
        id: cache
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}-v2
          restore-keys: |
            ${{ runner.os }}-go-
      
      - name: Install linter
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.58
          skip-pkg-cache: true

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: go mod download

      - name: Test and lint
        run: |
          ./run_tests.sh